<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="p-3 mb-2 bg-dark bg-gradient text-white">
    <h1 class="display-1">myBoard</h1>
    <h6>by Kacper Wójcicki</h6>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse">
            <div class="collapse navbar-collapse"></div>
            <div class="collapse navbar-collapse align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts}">
                            <button type="button" class="btn btn-secondary position-absolute start-50 translate-middle">
                                Home
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse"></div>
        </div>
</nav>
<hr>

<div class="container text-danger text-center mt-5">
    <h2>You can not access this page!</h2>
</div>

</body>
</html>