<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        .error {
            color:red;
        }

        .BdRed {
            border-color: red !important;
        }

    </style>

</head>
<body>



<div class="p-3 mb-2 bg-dark bg-gradient text-white">
    <h1 class="display-1">myBoard</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/posts}">
                        <button type="button" class="btn btn-secondary">
                            Home
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

<div class="container">
<form action="#" th:action="@{/posts/savePost}" th:object="${post}" method="post" id="addPost">
    <p class="error" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{comments}">
    <input type="hidden" th:field="*{creationTime}">

    <div class="mb-3">
        <label class="form-label">Post Title</label>
        <input type="text" th:field="*{title}"  th:errorclass="'BdRed'" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea th:field="*{content}" th:errorclass="'BdRed'" class="form-control input-xl"
                  form="addPost" rows="20" cols="80" wrap="hard"> </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


</body>
</html>