<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>myBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        a {
            text-decoration:none;
        }
        .allPadding {
            padding: 20px;
        }
        .error {
            color:red;
        }
    </style>
</head>
<body>

<div class="p-3 mb-2 bg-dark bg-gradient text-white">
    <h1 class="display-1">myBoard</h1>
    <h6>by Kacper Wójcicki</h6>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container-fluid">
        <p  class="lead position-relative m-4">Username: <span class="fw-bold text-success" sec:authentication="name"></span> </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>
        <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item text-center">
                    <a class="nav-link active" aria-current="page" th:href="@{/posts}">
                        <button type="button" class="btn btn-secondary position-relative">
                            Home
                        </button>
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" th:href="@{/posts}">-->
<!--                        <button type="button" class="btn btn-secondary position-relative">-->
<!--                            Profile-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" th:href="@{/posts}">-->
<!--                        <button type="button" class="btn btn-secondary position-relative">-->
<!--                            My posts-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item text-center">
                    <a class="nav-link active" aria-current="page" th:href="@{/posts/addPostForm}">
                        <button type="button" class="btn btn-secondary position-relative">
                            Add post
                        </button>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">
                        <button type="button" class="btn btn-primary position-relative">
                            Log out
                        </button>
                    </a>
                </li>
            </ul>
            <form action="#" th:action="@{/posts/search(title=*{title})}" th:object="${titleSearchPost}"
                  method="get" class="d-flex">
                <input th:field="*{title}"  class="form-control me-2" type="search" placeholder="Search by post title" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<hr>

<div class="container">
    <div class="list-group">

        <div th:if="${deleteMessage != null }" class="container error allPadding">
            <span th:text="${deleteMessage}"></span>
        </div>

        <ul th:each="post : ${posts}"  class="list-group" >
            <li  class="list-group-item shadow rounded">
                <div class="container">
                    <a th:href="@{/posts/{id}(id=${post.id})}" style="color: black">
                        <div class="row">
                            <div class="col-8 text-wrap">
                            <p th:text="${post.title}"></p>
                            </div>
                            <div class="col-2 text-success">
                            <p th:text="${post.user.username}" ></p>
                            </div>
                            <div class="col-2">
                            <p th:text="${post.getCreationTime()}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>

    </div>

    <div th:if="${invalidPageMessage != null }" class="container error allPadding">
        <span th:text="${invalidPageMessage}"></span>
    </div>


    <nav aria-label="Page navigation example" class="allPadding">
        <ul class="pagination" th:if="${pageNum > 1}">
            <li class="page-item"><a class="page-link" th:href="@{/posts/page/{targetPage}(targetPage=${currentPage-1})}">Previous</a></li>
            <div class="row" th:each="i : ${#numbers.sequence(0, pageNum-1)}">
                <li th:if="${currentPage != i}" class="page-item">
                    <a class="page-link" th:href="@{/posts/page/{targetPage}(targetPage=${i})}">[[${i}]]</a>
                </li>
                <li th:if="${currentPage == i}" class="page-item active">
                    <a class="page-link" th:href="@{/posts/page/{targetPage}(targetPage=${i})}">[[${i}]]</a>
                </li>
            </div>
            <li class="page-item"><a class="page-link" th:href="@{/posts/page/{targetPage}(targetPage=${currentPage+1})}">Next</a></li>
        </ul>
    </nav>

</div>




</body>
</html>